
@{
    Layout = null;
}

@model List<MODEL.Staff>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JSCX</title>
</head>
<body>
    <table border="1">
        @foreach (var q in Model)
        {
            <tr>
                <td>员工编号<span>@q.ygNumber</span></td>
                <td>用户名<span>@q.LoginName</span></td>
                <td>密码<span>@q.loginPwd</span></td>
                <td>员工姓名<span>@q.ygName</span></td>
                <td>邮箱<span>@q.email</span></td>
                <td>手机号<span>@q.phone</span></td>
                <td>登录次数<span>@q.LoginNum</span></td>
                <td></td>
            </tr>
        }
        </table>
</body>
</html>
